header
    nav
        a(href='/') ngMeteor

article
    h1 Welcome!
    p
        !
            Isn't it cool?
            Angular + Meteor with Coffeescript, Stylus and <strong>Blade</strong>

    p(ng-view)
    p(ng-include="'included.blade'")
