header.navbar
	nav.navbar-inner
		a.brand(href='#/') ngMeteor
	
article.container-fluid
	.hero-unit
		h1 Welcome!
		p
			! Isn't it cool?
				Angular + Meteor with Coffeescript, Stylus and <strong>Blade</strong>
	
	p.well(ng-view)
