nav
    height 2.5em
    line-height 2.5em
    font-size 1.8em
    background white - 5%
    border-radius 10px
    a
        padding-left 1em
        text-decoration none
        color black + 50%
        text-shadow -1px -1px 2px white
article
    margin 1em
    padding 2em
    background white - 5%
    border-radius 1em
